<!-- footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Skylers Investment Holdings</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="./contact.html#map"><i class="fa fa-map-marker"></i>Location</a></li>
						<p style="color:#f79831;">Maralal, Samburu</p>
						<li><a href="javascript:void();"><i class="fa fa-phone"></i>Telephone</a></li>
						<a href="tel:+254706772933">0706772933</a>
						<li><a href="javascript:void();"><i class="fa fa-envelope"></i>Email</a></li>
						<a href="mailto:skylersinvestmentholdings@gmail.com">skylersinvestmentholdings@gmail.com</a>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5> Our Services</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Micro Credit</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Real Estate</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Business Advisory</a>
						</li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Mentorship
								Programme</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Land Investment</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Subscribe to our newsletter</h5>
					<form action="" method="post">
						<div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
							<input type="email" class="form-controlst" id="" name="" placeholder="your@email.com">
						</div>
						<br />
						<input type="submit" value="Subscribe Now!" class="shadow-lg border-0 btn  btn-outline-custom text-white" />
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
						</li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
						</li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
						</li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
									class="fa fa-envelope"></i></a></li>
					</ul>
				</div><hr>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a href="https://skylersinvestmentsholdings.co.ke/">Skylers Investments</a></u> is an awesome
						site
					</p>
					<p class="h6">&copy; All right reserved.<a class="text-green ml-2"
							href="https://skylersinvestmentsholdings.co.ke" target="_blank">Skylers</a></p>
				</div><hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
