<div id="about-us">
   <div class="sect1 container-fluid">
      <div class="container" id="sect1">
         <h1>About Skylers.</h1><br>
         <h3 class="sect1-text"><i class="fa fa-angle-double-right"></i> We are a well established micro-finance firm that fosters individual and group development by offering loans, savings and insurance services. Our main objective is to establish a sustainable economy. We are a choice to many because of our competetive rates in the industry.</h3>
      </div>
   </div>
   <div class="sect2 bg-light">
      <h2 class="py-md-5 pl-md-5" id="h2">Why Skylers?</h2>
      <div class="container">
         <div class="row">
            <div class="col-md-6 ">
               <p><i class="fa fa-angle-double-right"></i>  At Skylers we care about your development and for this reason we offer loans to grow you at reasonably low interest rates, that are well spread throughout the loan period.</p>
               <p><i class="fa fa-angle-double-right"></i>  Our customers enjoy timely support and financial advisory at no extra cost! Our business is to see you grow.</p>
            </div>
            <div class="col-md-6 pb-3">
               <img src="./assets/images/micro-credit.jpg" alt="Micro credit" height="250px" width="100%">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row vision pb-md-3">
            <div class="col-md-6">
               <img src="https://pixabay.com/get/54e1d7404355ac14f1dc8460825668204022dfe05450784d732e78d0/thought-2123970_640.jpg" alt="Our vision" height="250px" width="100%">
            </div>
            <div class="col-md-6">
               <h3 class="py-md-4 pl-md-5">Our vision</h3>
               <p><i class="fa fa-angle-double-right"></i> To Become a global avenue for business and investment solutions while offering un-paralleled services and products.</p>
            </div>
         </div>
         <div class="row" id="mission">
            <div class="col-md-6">
               <img src="./assets/images/mission2.jpg" alt="Mission" height="250px" width="100%">
            </div>
            <div class="col-md-6 pt-md-3">
               <h3 class="py-md-4 pl-md-5">Our mission</h3>
               <p><i class="fa fa-angle-double-right"></i>  To Partner with like-minded persons and organizations aimed at enhancing the entrepreneurial capabilities of its clients and the general society.</p>
            </div>
         </div>
      </div> <br><br>
   </div>
</div>
<footer></footer>
