.sect1{
   height:100vh;
   background-image: url('https://cdn.pixabay.com/photo/2018/03/09/08/36/businessman-3210932_960_720.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}
#sect1{
   padding-top: 10rem;
   color:white
}
.sect1-text{
   color:white;
}
h1{
   text-decoration: underline #f79831;
}
h2{
   background-color: rgb(34,132,198);
   color: #f79831;
}
h3{
   color:rgb(34,132,198);

}
.fa-angle-double-right{
   color:#f79831;
   font-size: 25px;
}