
<div class="container">

  <<h2 class="pt-5">News Interface</h2>

  <div class=" py-4" *ngFor="let item of items; let i=index">

          <div class="card" *ngIf="i!==selectedNewsIndex; else elseBlock">
            <div class="card-header">
              <img [src]="item.payload.doc.data().avatar" alt="newsImage" width="100%" height="400px">
            </div>
            <div class="card-body">
              <h3>{{item.payload.doc.data().title}}</h3>
              <ckeditor disabled="true" [editor]="Editor" [data]="item.payload.doc.data().description"></ckeditor>
              <button class="btn btn-outline-primary action mr-3" (click)="editDetails(item,i)" type="button">
                  Edit <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-outline-primary action" (click)="delete(item)" type="button">
                  Delete <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <ng-template #elseBlock>
            <div class="card-body">
              <h5 class="card-title">Edit</h5>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="updateForm.title" name="title"  placeholder="Edit Name">
                  </div>
                  <div class="col-md-12">
                      <ckeditor class="edy"
                      [config]="editorConfig" [editor]="Editor"
                      required [(ngModel)]="updateForm.description"
                      data="" name="text"></ckeditor>                  
                  </div>
                  <div class="form-group">
                    <input  type="file" accept=".png,.jpg,.jpeg" 
                    class="form-control-file btn btn-outline-warning" (change)="onFileChange($event)">
                </div>
                </div>
              </div>
  
              <button class="btn btn-outline-primary action mr-3" (click)="updateRecord()">Update</button>
              <button class="btn btn-outline-primary action" (click)="editDetails(selectedNews,selectedNewsIndex)">Cancel</button>

            </div>
          </ng-template>
      </div>

  </div>