
<div class="container">

  <h2 class="pt-5">Business Interface</h2>

  <div class=" py-4" *ngFor="let item of items; let i=index">

          <div class="card" *ngIf="i!==selectedBizIndex; else elseBlock">
            <div class="card-header">
              {{item.payload.doc.data().title}}
            </div>
            <div class="card-body">
              <p class="card-text">{{item.payload.doc.data().description}}</p>
              <button class="btn btn-outline-primary action" (click)="editDetails(item,i)" type="button">
                Edit
              </button>
              <button class="btn btn-outline-primary action" (click)="delete(item)" type="button">
                Delete
              </button>
            </div>
          </div>
          
          <ng-template #elseBlock>
                  <div class="card-body">
                    <h5 class="card-title">Edit</h5>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" [(ngModel)]="updateForm.title" name="title"  placeholder="Edit Name">
                        </div>
                        <div class="col-md-12">
                          <input type="text" class="form-control" [(ngModel)]="updateForm.description" placeholder="Edit Desc">
                        </div>
                        <div class="form-group">
                          <label for="image">upload Image</label>
                          <input type="file" accept=".png,.jpg,.jpeg" 
                          class="form-control-file" (change)="onFileChange($event)" name="avatar">
                      </div>
                      </div>
                    </div>
        
                    <button class="card-link" (click)="editDetails(selectedBiz,selectedBizIndex)">Cancel</button>
                    <button class="card-link" (click)="updateRecord()">Update</button>
                  </div>
                </ng-template>
      </div>

  </div>


    

