
<div class="container">

  <h2 class="pt-5">Business Interface</h2>

  <div class=" py-4" *ngFor="let item of items; let i=index">

          <div class="card" *ngIf="i!==selectedBizIndex; else elseBlock">
            <div class="card-header">
              {{item.payload.doc.data().title}}
            </div>
            <div class="card-body">
              <p class="card-text">{{item.payload.doc.data().description}}</p>
              <button class="btn btn-outline-primary action mr-3" (click)="editDetails(item,i)" type="button">
                  Edit <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-outline-danger action" (click)="delete(item)" type="button">
                  Delete <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          
          <ng-template #elseBlock>
                  <div class="card-body">
                    <h5 class="card-title">Edit</h5>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12">
                          <input type="text" class="form-control" [(ngModel)]="updateForm.title" name="title"  placeholder="Edit Name">
                        </div>
                        <div class="col-md-12">
                          <ckeditor
                          [config]="editorConfig" [editor]="Editor"
                          required [(ngModel)]="updateForm.description"
                          data="" name="text"></ckeditor>
                          <!-- <input type="text" class="form-control" [(ngModel)]="updateForm.description" placeholder="Edit Desc"> -->
                        </div>
                        <div class="col-md-4">
                          <input  type="file" accept=".png,.jpg,.jpeg" 
                          class="form-control-file btn btn-outline-warning" (change)="onFileChange($event)">
                      </div>
                      </div>
                    </div>
        
                    <button class="btn btn-outline-primary action mr-3" (click)="updateRecord()">Update</button>
                    <button class="btn btn-outline-primary action mr-3" (click)="editDetails(selectedBiz,selectedBizIndex)">Cancel</button>
                  </div>
                </ng-template>
      </div>

  </div>


    

