.container{
    color:white;
}

nav{
    background-color: white;
}

.fa-bars{
    color: rgb(247,152,49);
    font-size: 30px;
}

.fa-bars-blue{
    color:rgba(34, 132, 198);
}

 .nav-link {
    color: rgb(247,152,49);
 }

 .nav-link:hover,  .nav-link:focus {
    color:rgba(34, 132, 198);
 }

.navScrollDown{
    color:rgba(34, 132, 198);
    
}

.navScrollDown:hover{
    color: rgb(247,152,49);
}
@media only screen and (min-width:1250px){
    .container{
        padding-left: 25px;
        padding-right: 25px;
        min-width: 100%
    }
} 
