<!-- Navigation one -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="./assets/images/skylerslogo.png" alt="" width="70px" height="40px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a  class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/" routerLinkActive="active">Home
                <span class="sr-only">(current)</span>
              </a></a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/about" routerLinkActive="active">Our Journey</a></a>
            </li>
          <li class="nav-item">
            <a  class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/business-development" routerLinkActive="active">Business Development</a></a>
          </li>
          <!-- <li class="nav-item">
            <a  class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Lands</a></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/news" routerLinkActive="active">News</a></a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="#" data-toggle="collapse" data-target="#navbarResponsive">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a></a>
          </li>
          <li class="nav-item dropdown pt-md-2">
            <div *ngIf="alreadyLogged()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Admin
              </a>
              <div class="dropdown-menu px-4 mr-4" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  href="/admin/business/list">view services</a>
                <a class="dropdown-item" href="/admin/business/create">create service</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/news/list">view news</a>
                <a class="dropdown-item" href="/admin/news/create">create news</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)='logout()'>Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>

