<!-- Navigation one -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="./assets/images/skylerslogo.png" alt="" width="70px" height="40px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/about" routerLinkActive="active">Our Journey</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery" routerLinkActive="active">Lands</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="./development.html">Our Programs</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/list" routerLinkActive="active">Admin</a>
          </li>    
        </ul>
      </div>
    </div>
</nav>
