<div class="container-fluid main bg-light">
   <div class=" sect1 mt-5 pt-5 pb-4 border-bottom border-success">
         <!-- Placeholder -->
   </div>
   <div class="container">
      <div class="row pt-4 pb-4">
         <div class="col-sm-12 col-md-11 mx-auto">
            <div class="card">
               <div class="card-header text-center text-center">
                  <h3 data-toggle="collapse" data-target="#card1" aria-expanded="true" aria-controls="card1" role="button">Savings & contributions</h3>
               </div>
               <div class="card-body collapse show" id="card1">
                  <p>All contributions in SKYLERS INVESTMENTS HOLDINGS by ordinary members as a discipline through this program helps in getting entrepreneurs in the habit of borrowing and repaying for business growth, school fees, future family needs and other purposes including emergencies.</p>
                  <p>Business owners are required to contribute a minimum of KSHS. 120 weekly throughout his/her ordinary membership tenure. Non-business owners will be assessed by the loan officer and the SKYLERS INVESTMENTS HOLDINGS executive committee to determine reasonable contributions rate per week.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row pb-4 ">
         <div class="col-sm-12 col-md-11 mx-auto">
            <div class="card card2">
               <div class="card-header text-center " id="header2">
                  <h3 data-toggle="collapse" data-target="#card2" aria-expanded="false">Insurance Services</h3>
               </div>
               <div class="card-body collapse" id="card2" aria-labelledby="header2">
                  <p>We offer the following insurance services:</p>
                  <div class="row">
                     <div class="col-md-6">
                        <p><span><i class="fa fa-angle-double-right"></i></span>  Health insurance:</p>
                        <p>National Health Insurance Fund (NHIF) is available to our clients but most fail to participate because they lack information about the program and how to join. BDS can link our clients with NHIF and be encouraging them to join. As we develop an infrastructure we can investigate providing further services by acting as an agent of NHIF on behalf of our clients.</p>
                     </div>
                     <div class="col-md-6">
                        <p><span><i class="fa fa-angle-double-right"></i></span> Business Fire and Theft insurance</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
      <h2 class="text-center">Loans</h2>
      <div class="row pb-3">
         <div class="card-deck col-md-11 mx-auto">
            <!-- <div class="col-sm-12 col-md-6"> -->
            <div class="card">
               <div class="card-header text-center">
                  <h4 data-toggle="collapse" data-target="#card3" aria-expanded="false" aria-controls="card3">Business Startup Loans</h4>
               </div>
               <div class="card-body collapse" id="card3">
                  <h5>Purpose:</h5>
                  <p>A loan to start a new business for a client without an existing business but has the desire to develop their business skills to support themselves and/or their families.</p>
                  <h5>Terms:</h5>
                  <ul>
                     <li>The clients must have finished the BDS basic training and present a reasonable business plan and budget to qualify for a startup loan.</li>
                     <li>The client must have shown discipline of contributions and have demonstrative personal initiative to the loan officer.</li>
                     <li>Due to higher risk of these loans requires the approval of the BDS department head.</li>
                     <li>All the other SKYLERS INVESTMENTS HOLDINGS business loan requirements apply</li>
                  </ul>
                  <h5>Benefits:</h5>
                  <ul>
                     <li>rovides a client with the needed capital to start a business and grow an income as a means to support themselves and their families.</li>
                     <li>Allows ordinary members of the community to take initiative, empower themselves to become self reliant.</li>
                  </ul>
                  <h5>Loan Duration:</h5>
                  <p>First loan - 9 months - 1.5% monthly on the reducing balance Subsequent loans will fall under the SKYLERS INVESTMENTS HOLDINGS Business development loan program.</p>
                  <h5>Loan levels:</h5>
                  <p>1st loan - up to KES. 30,000</p>
               </div>
            </div>
            <!-- </div> -->
            <!-- <div class="col-sm-12 col-md-6"> -->
            <div class="card">
                  <div class="card-header text-center">
                     <h4 data-toggle="collapse" data-target="#card4" aria-expanded="false" aria-controls="card4">Mkopo Chap Chap Loans</h4>
                  </div>
                  <div class="card-body collapse" id="card4">
                     <h5>Purpose:</h5>
                     <p>A loan to assist a business owner to take advantage of an opportunity or a large customer order that requires additional stock</p>
                     <h5>Terms:</h5>
                     <ul>
                        <li>Clients must have serviced at least one loan through BDS, be in good standing in SKYLERS INVESTMENT HOLDINGS BDS Program.</li>
                        <li>BDS clients can access the loan even if they have another loan that they are servicing as long as they fulfill the required terms.</li>
                        <li>All the other SKYLERS INVESTMENTS HOLDINGS Business development loan requirements apply</li>
                     </ul>
                     <h5>Benefits:</h5>
                     <ul>
                        <li>Allows a business owner to take advantage of an opportunity such as a government rebate or pricing discount on a stock item for their business</li>
                        <li>Provides a way to boost the business when a large customer order comes in that requires additional supply.</li>
                     </ul>
                     <h5>Loan duration & rates:</h5>
                     <p>12 months - 1.5% of principal monthly on the reducing balance</p>
                     <h5>Loan levels:</h5>
                     <p>Up to maximum of KES. 100,000</p>
                  </div>
               <!-- </div> -->
            </div>
         </div>
      </div>
      <div class="row pb-3">
         <div class="card-deck col-md-11 mx-auto">
            <div class="card">
               <div class="card-header text-center">
                  <h4 data-toggle="collapse" data-target="#card5" aria-expanded="false" aria-controls="card5">Emergency Loans</h4>
               </div>
               <div class="card-body collapse" id="card5">
                  <h5>Purpose:</h5>
                  <p>A loan to assist a business owner to recover from the adverse effect of a fire, sickness, death of a family ordinary member or theft or another urgent emerging situation.</p>
                  <h5>Terms:</h5>
                  <ul>
                     <li>The client must have serviced at least one loan through BDS, be in good standing in SKYLERS INVESTMENTS HOLDINGS BDS Program and provide proof of the emergency or exceptional situation.</li>
                     <li>BDS clients can access this loan even if they have another loan that they are servicing as long as they fulfill the required terms.</li>
                     <li>All other business loans requirements apply.</li>
                  </ul>
                  <h5>Benefits:</h5>
                  <ul>
                     <li>Allows a business owner to recover from a catastrophic loss or emergency.</li>
                     <li>
                        Allow the business owners to recover from an urgent emerging situation.
                     </li>
                  </ul>
                  <h5>Loans duration & rates</h5>
                  <p>6 months - 1.5% monthly on the reducing balance</p>
                  <h5>Loan levels:</h5>
                  <p>Up to a maximum of KSHS 40,000</p>
               </div>
            </div>
            
   </div>
</div>
