<div class="container-fluid main bg-light">
   <div class=" sect1 mt-5 pt-5 pb-4 border-bottom border-success">
         <!-- Placeholder -->
   </div>
   <div class="container">
      <div class="row pt-4 pb-4">
         <div class="col-sm-12 col-md-11 mx-auto">
            <div class="card">
               <div class="card-header text-center text-center">
                  <h3 data-toggle="collapse" data-target="#card1" aria-expanded="true" aria-controls="card1" role="button">Savings & contributions</h3>
               </div>
               <div class="card-body collapse show" id="card1">
                  <p>All contributions in SKYLERS INVESTMENTS HOLDINGS by ordinary members as a discipline through this program helps in getting entrepreneurs in the habit of borrowing and repaying for business growth, school fees, future family needs and other purposes including emergencies.</p>
                  <p>Business owners are required to contribute a minimum of KSHS. 120 weekly throughout his/her ordinary membership tenure. Non-business owners will be assessed by the loan officer and the SKYLERS INVESTMENTS HOLDINGS executive committee to determine reasonable contributions rate per week.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row pb-4 ">
         <div class="col-sm-12 col-md-11 mx-auto">
            <div class="card card2">
               <div class="card-header text-center " id="header2">
                  <h3 data-toggle="collapse" data-target="#card2" aria-expanded="false">Insurance Services</h3>
               </div>
               <div class="card-body collapse" id="card2" aria-labelledby="header2">
                  <p>We offer the following insurance services:</p>
                  <div class="row">
                     <div class="col-md-6">
                        <p><span><i class="fa fa-angle-double-right"></i></span>  Health insurance:</p>
                        <p>National Health Insurance Fund (NHIF) is available to our clients but most fail to participate because they lack information about the program and how to join. BDS can link our clients with NHIF and be encouraging them to join. As we develop an infrastructure we can investigate providing further services by acting as an agent of NHIF on behalf of our clients.</p>
                     </div>
                     <div class="col-md-6">
                        <p><span><i class="fa fa-angle-double-right"></i></span> Business Fire and Theft insurance</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</div>
