<section class="Material-contact-section section-padding section-dark">
  <div class="container">
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
        <h1 class="section-title">Love to Hear From You</h1>
      </div>
    </div>
    <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.0845051271185!2d36.698493051074394!3d1.098907362630657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1785cfac7c572a53%3A0xbc844dff600fbb4!2sSKYLERS+Limited!5e0!3m2!1sen!2ske!4v1554934039686!5m2!1sen!2ske"
            width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br><br><br>
    <div class="row">
      <!-- Section Titile -->
      <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page
          when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using Content.</p>

        <div class="find-widget">
          Company: <a href="http://newtonkaranu.me/skylers">Skylers investments holdings limited</a>
        </div>
        <div class="find-widget">
          Address: <a href="#">Thika</a>
        </div>
        <div class="find-widget">
          Phone: <a href="#">+254 71234567</a>
        </div>

        <div class="find-widget">
          Website: <a href="http://newtonkaranu.me/skylers">skylersinvestmentholdings.co.ke</a>
        </div>
        <div class="find-widget">
          Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a>
        </div>
      </div>
      <!-- contact form -->
      <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
        <form class="shake" role="form" method="post" id="contactForm" name="contact-form"
              data-toggle="validator">
          <!-- Name -->
          <div class="form-group label-floating">
            <label class="control-label" for="name">Name</label>
            <input class="form-control" id="name" type="text" name="name" required
                   data-error="Please enter your name">
            <div class="help-block with-errors"></div>
          </div>
          <!-- email -->
          <div class="form-group label-floating">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" id="email" type="email" name="email" required
                   data-error="Please enter your Email">
            <div class="help-block with-errors"></div>
          </div>
          <!-- Subject -->
          <div class="form-group label-floating">
            <label class="control-label">Subject</label>
            <input class="form-control" id="msg_subject" type="text" name="subject" required
                   data-error="Please enter your message subject">
            <div class="help-block with-errors"></div>
          </div>
          <!-- Message -->
          <div class="form-group label-floating">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control" rows="3" id="message" name="message" required
                      data-error="Write your message"></textarea>
            <div class="help-block with-errors"></div>
          </div>
          <!-- Form Submit -->
          <div class="form-submit mt-5">
            <button class="shadow border-0 btn  btn-default"
                    style="color:white; background-color: #16a2b7;" type="submit" id="form-submit">Send
              Message</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
