<div class="mt-5 pt-5 container">
    <h1 class="text-center">Skylers Business News.</h1>
    <div class="row mt-4  py-4 border-top border-dark" *ngFor="let newsItem of news; let i = index">
        <div class="col-md-5 pl-md-0">
            <div class="card border-0">
                <div class="card-header">
                    <h3>{{newsItem.payload.doc.data().title}}</h3>
                </div>
                <div class="card-image">
                    <img [src]="newsItem.payload.doc.data().avatar" alt="Test photo" height="250px"  width="100%">
                </div>
            </div>
        </div>
        <div class="col-md-7 pr-md-0">
            <div class="card border-0" >
                <div class="card-body">
                    <p>{{newsItem.payload.doc.data().description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
