<header>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('./assets/home/one.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Skylers Investments</h3>
          <p class="lead">Empowering you through credit, mentorship and investment opportunities</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('./assets/home/ten.jpeg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Skylers Investments</h3>
          <p class="lead">Empowering you through credits, mentorships and investments opportunities</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item"
           style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Skylers Investments</h3>
          <p class="lead">Empowering you through credits, mentorships and investments opportunities</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="col-lg-12">

    <h1 class="my-4 text-in display-4 text-center"> Our Benefits </h1>
    <hr class="mt-2 mb-5">
    <div class="row">
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header"> Personal development </div>
        <div class="card-body">
          <h5 class="card-title font-title"><i class="fa fa-user"></i></h5>
          <p class="card-text">
            Skylers understand the a great initial investment is the person behind it. We focus on you
            as you focus on yourself.
          </p>
        </div>
      </div>
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header"> Business development </div>
        <div class="card-body">
          <h5 class="card-title font-title"><i class="fa fa-briefcase"></i></h5>
          <p class="card-text">
            An idea is all it takes for Skylers to help you bloom it into a Business
          </p>
        </div>
      </div>
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header">Scalable Growth</div>
        <div class="card-body">
          <h5 class="card-title font-title"><i class="fa fa-pagelines"></i></h5>
          <p class="card-text">
            To expand and grow inline to our vision, we ensure the growth of our members is put first.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header"> Community </div>
        <div class="card-body">
          <h5 class="card-title font-title"><i class="fa fa-users"></i></h5>
          <p class="card-text">
            Join a group of visionary entrepreneurs and scale together
          </p>
        </div>
      </div>
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header"> Investment Opportunity </div>
        <div class="card-body">
          <h5 class="card-title font-title"><img src="./img/investment.svg" alt="" width="30px"
                                                 height="30px"></h5>
          <p class="card-text">
            Our trained market experts spend time scouting for viable investment opportunities to offer
            our members.
          </p>
        </div>
      </div>
      <div class="card border-light mb-4" style="max-width: 23rem;">
        <div class="card-header">Support & Excellence</div>
        <div class="card-body">
          <h5 class="card-title font-title"><img src="./img/supp2.svg" alt="" width="30px" height="30px">
          </h5>
          <p class="card-text">
            we are a team of brilliant, ambitious and trained personnel who would turn every stone to
            make it happen
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /.container -->
<!-- Page Content -->
<div class="container py-4 mt-4">

  <!-- Page Heading -->
  <h1 class="my-4 text-in display-4 text-center">Our Services<BR />
    <hr class="mt-2 mb-5">
  </h1>
  <!-- <p class="lead ">OTHER top Destination</p> -->

  <div class="row mt-4">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="./img/micro-credit.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" class="card-link">Micro Credit</a>
          </h4>
          <p class="card-text">
            Through our program we extend small loans to borrowers who lack collateral, steady
            employment,
            or a verifiable credit history. These loans are designed to assist in the borrowers
            personal or professional development.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="./img/real-estates.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" class="card-link">Real Estate</a>
          </h4>
          <p class="card-text">
            At skylers we have trained field agents who spend their time scouting opportunities of land
            with the consideration of its natural resources to give a comprehensive guide to our clients
            on the
            potential the land holds for investment.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="./img/mentorship.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" class="card-link">Mentorship</a>
          </h4>
          <p class="card-text">
            We at skylers have a community enriched with experts who are provided to our members to
            guide them through their professional
            development and sustainable investment under structured guidelines of the company.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Page Content -->
<div class="container py-4 mt-4">
  <h1 class="my-4 text-in display-4 text-center">How it works<BR /></h1>
  <hr class="mt-2 mb-5">
  <!-- <p class="display-3">How it works</p> -->
  <div class="row">
    <div class="col-md-6">
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Register with us
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
               data-parent="#accordionExample">
            <div class="card-body">
              <p>Membership registration is open to all the Kenyan citizens above 18 years of age.
                <br>Visit our nearest office to fill in the membership registration form, and you
                shall receive a status notification thereafter.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Select a service
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
               data-parent="#accordionExample">
            <div class="card-body">
              <p>Choose a service of your choice by navigating to either <span><a
                href="./development.html">Business development</a></span> or <span><a
                href="./lands.html">Lands</a></span>. <br>We advise that you may read
                through the terms and conditions before settling for a respective service. <br>Reach
                us <a href="./contact.html">here</a> for any further inquiries or assistance.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                All time support
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
               data-parent="#accordionExample">
            <div class="card-body">
              <p>We pride ourselves of a great customer service team, who always endeavor to attend to
                our customer needs and ensure seemless experience and customer satisfaction.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <!-- /.row -->

</div>
